
@font-face {font-family: 'Bender-Bold';
  src: url('../fonts/bender-bold/37BAF8_3_0.eot');
  src: url('../fonts/bender-bold/37BAF8_3_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bender-bold/37BAF8_3_0.woff2') format('woff2'),
  url('../fonts/bender-bold/37BAF8_3_0.woff') format('woff'),
  url('../fonts/bender-bold/37BAF8_3_0.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 444px;
}

h1, h2, h3, h4, ul, ol, figure {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}


body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #555;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Bender-Bold';
  font-weight: normal;
  background: url('../img/BG_2.jpg') no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 0;
}

.main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.songmodule {
  margin:  10px 10px 0 10px;
  height: 120px;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255,0.1);
  z-index: 2;
  overflow: hidden;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.67);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.songtitle{
font-size: 84px;
line-height: 135%;
text-align: left;
margin: 0 auto;
color: #fff;
white-space: nowrap;
/* transform: translateX(1500px); */
position: absolute;
opacity: 1;
/* visibility: visible; */
transition: transform linear 1000ms;
/* transition: opacity 500ms; */
}
.songtitle-transparent{
/* visibility: hidden; */
opacity: 0;
transition: transform linear 1000ms;
/* transition: opacity 500ms; */
}

.songstatus{
  width: 0%;
  height: 100%;
  background-color: rgba(153, 0, 0, 0.4);
  border-radius: 10px;
border-right: 1px solid rgba(255, 255, 255, 0.4);

transition: all 5000ms;
z-index: 3;
}
.spinner-wrap {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  margin-bottom: 10px;
}
.spinner-wrap * {
  cursor: crosshair;
}

.spinner-outer {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: url("../img/plast_paused.png") center center no-repeat ;
background-size: 300px 300px;
-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.75);
box-shadow:0px 0px 20px 0px rgba(0,0,0,0.75);
transition: all 1500ms;

}

@keyframes spin-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 400px) {
  .songmodule{
    height: 120px;
    width: 90%;
  }
  .songtitle{
    font-size: 84px;
line-height: 130%;
  }
  .spinner-wrap{
    width: 260px;
    height: 260px;
  }
  .spinner-outer{
  background: url("../img/plast_paused.png") center center no-repeat ;
background-size: 260px 260px;}
}
@media only screen and (min-width: 590px) {
  .songmodule{
    height: 120px;
    width: 70%;
  }

  .spinner-wrap{
    width: 500px;
    height: 500px;
  }
  .spinner-outer{
    background-size: 500px 500px;
  }

}